doctype html
html
    head
        title barknbite
        link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css')

    body
        block content
        br
        hr
        footer
            p  copyright &copy 2019