<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="bark.css"> 
</head>
<body style="background:wheat">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/home">imgaze</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-right" id="navbarNav">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/users/gallery">images <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">videos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/users/imageadd">contribute</a>
                    </li>
                    </ul>
                </div>
            </nav>
            <div class="carousel slide" data-ride="carousel" data-interval="3000" id="case1" data-pause="hover">
                <div class="carousel-inner">
                    
                    <div class="carousel-item active">
                            <img src="images\IMG_20180921_184752.jpg" alt="newyork">
                            <div class="carousel-caption d-none d-md-block">
                                    <h3>newyork</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, cumque.</p>
                                </div>                        
                        </div>
                        <div class="carousel-item">
                                <img src="images\IMG_20190402_165559.jpg" alt="bridge">   
                                <div class="carousel-caption d-none d-md-block">
                                        <h3>bridge</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, cumque.</p>
                                    </div>                                         
                            </div>
                            <a href="#case1" class="carousel-control-next" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                            <a href="#case1" class="carousel-control-prev" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <ul class="carousel-indicators">
                                    <li data-target="#case1" data-slide-to="0" class="active"></li>
                                    <li data-target="#case1" data-slide-to="2"  ></li>
                                </ul>

                                           

            </div >
            <div class="badeb shadow p-3 mb-5 bg-white rounded" >

            <section class="about_area section_gap">
                <div class="container">
                  <div class="row h_blog_item">
                    <div class="col-lg-6">
                      <div class="h_blog_img">
                        <img class="img-fluid" src="images/cart.jpg" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="h_blog_text">
                        <div class="h_blog_text_inner left right shadow p-3 mb-5 bg-white rounded">
                          <h4>Welcome to imgaze</h4>
                          <p>
                            Subdue whales void god which living don't midst lesser
                            yielding over lights whose. Cattle greater brought sixth fly
                            den dry good tree isn't seed stars were.
                          </p>
                          <p>
                            Subdue whales void god which living don't midst lesser yieldi
                            over lights whose. Cattle greater brought sixth fly den dry
                            good tree isn't seed stars were the boring.
                          </p>
                          <a class="primary-btn" href="#">
                            Learn More <i class="ti-arrow-right ml-1"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              </div>
            <div class="badeb shadow p-3 mb-5 bg-white rounded" >
              <h2 class="our"> Nature</h2><br/><br/>
              <div class="but">
               <button class=" shadow p-3 mb-5 bg-white rounded badeb1 ho"><h2 class="container">khidki</h2><img class="img1" src="images\khidki.jpg" alt="pinkfry">
             </button> 
             <button class="badeb1 ho shadow p-3 mb-5 bg-white rounded"><h2 class="container">painting</h2><img class="img1" src="images\painting.jpg" alt="pinkfry">
             </button> 
             <button class="badeb1 ho shadow p-3 mb-5 bg-white rounded"><h2 class="container">guitar</h2><img class="img1" src="images\guitar.jpg" alt="pinkfry">
             </button>  
             <button class="badeb1 ho shadow p-3 mb-5 bg-white rounded"><h2 class="container">aasman</h2><img class="img1" src="images\aasman.jpg" alt="pinkfry">
             </button> 
            
                 
                      </div>
          </div>
          <a href="/users/logout" class="btn btn-secondary">Logout</a>
            <footer class="footer mt-auto py-3">

              <div class="container">
                <span class="text-muted container center">&copy 2019 imgaze</span>
              </div>
            </footer>
    
</body>
</html>